.directory-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@media (min-width: 724px) {
  .directory-container {
    flex-wrap: wrap;
    flex-direction: inherit;
  }
}
