.auth-container {
  width: 100%;
  display: flex;
  margin: 10px auto;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 60rem;
}

@media (min-width: 1000px) {
  .auth-container {
    flex-wrap: wrap;
    flex-direction: inherit;
    height: 30rem;
  }
}
